<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-ligth shadow-sm fixed-top  xplore-bg justify-content-center" >
    <a class="mx-0"  href="https://xplorerentacar.com">
      <img src="assets/img/LOGO-XPLORE_02-ColorSecundario.png" width="180"  alt="Xplore Logo">
    </a>
</nav>

<div class="container" id="main">
  <router-outlet></router-outlet>
</div>
<footer>
  <p class="text-center">© Copyright 2020 <strong>ALCARSA - Xplore Rent a Car</strong> | Todos los derechos reservados</p>
</footer>

